@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: #f8fafc; /* slate-50 yang lebih lembut dan premium */
    color: #0f172a; /* slate-900 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* SCALABLE PREVIEW CONTAINER */
.ballot-print-container {
    width: 100%;
    display: flex;
    justify-content: center;
    transform-origin: top center;
    transform: scale(0.35); 
    margin-bottom: -50%;
}

@media (min-width: 1024px) {
    .ballot-print-container { transform: scale(0.45); margin-bottom: -40%; }
}
@media (min-width: 1536px) {
    .ballot-print-container { transform: scale(0.6); margin-bottom: -20%; }
}

/* UKURAN KERTAS ASLI */
.ballot-page {
    background-color: white;
    box-sizing: border-box;
}

.presidential-size {
    width: 22cm;
    height: 31cm;
    padding: 1cm;
}

.legislative-size {
    width: 52cm;
    height: 82cm;
    padding: 2cm;
}

/* PRINT DIRECTIVES */
@media print {
    @page { margin: 0; }
    body { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
    
    .ballot-print-container {
        transform: scale(1) !important;
        margin: 0 !important;
        justify-content: flex-start;
    }
    
    .ballot-page {
        box-shadow: none !important;
        margin: 0;
        border: none;
        page-break-after: always;
    }

    .print-exact-color {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}

/* Menyembunyikan scrollbar bawaan yang kotor */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* ========================================== */
/* KUSTOMISASI GOOGLE TRANSLATE WIDGET        */
/* ========================================== */

/* 1. Sembunyikan banner abu-abu bawaan Google di bagian atas layar saja */
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}

.skiptranslate > iframe.skiptranslate {
  display: none !important;
  visibility: hidden !important;
}

/* 2. Cegah Google mendorong body website ke bawah */
body {
  top: 0px !important;
  position: static !important;
}

/* 3. Sembunyikan tooltip pop-up saat kursor diarahkan ke teks asli */
#goog-gt-tt {
  display: none !important;
}